Luis Braille/1 DAM/Lenguaje de Marcas/3 Trimestre/Ejemplos/Autor.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Author">
        <xs:complexType>
            <xs:all>
                <xs:element name="FirstName" type="xs:string" />
                <xs:element name="LastName" type="xs:string" />
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>