Luis Braille/1 DAM/Lenguaje de Marcas/3 Trimestre/Ejemplos/Bio.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Bio">
<xs:complexType mixed="true">
<xs:sequence maxOccurs="unbounded">
    <xs:element name="Company" type="xs:string"/>
    <xs:element name="JobTitle" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>