Luis Braille/1 DAM/Lenguaje de Marcas/3 Trimestre/Ejemplos/Employee.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="JobTitle">
<xs:restriction base="xs:string">
          <xs:enumeration value="Manager"/>
          <xs:enumeration value="Receptionist"/>
          <xs:enumeration value="Developer"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="Employee">
<xs:complexType>
<xs:sequence>
<xs:element name="Title" type="JobTitle"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>