Luis Braille/1 DAM/Lenguaje de Marcas/3 Trimestre/Ejemplos/person19.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="PageType">
        <xs:attribute name="URL" type="xs:anyURI"/>
        <xs:attribute name="Description" type="xs:NMTOKENS" use="optional"/>
 </xs:complexType>

<xs:element name="Person">
      <xs:complexType>
          <xs:sequence>
                  <xs:element name="Blog" type="PageType"/>
                  <xs:element name="Twitter" type="PageType"/>
          </xs:sequence>
      </xs:complexType>
</xs:element>
</xs:schema>