Luis Braille/1 DAM/Lenguaje de Marcas/3 Trimestre/Ejemplos/person4.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Person">
<xs:complexType>
        <xs:sequence>
        <xs:element name="HomePage">
        <xs:complexType>
        <xs:attribute name="URL" type="xs:anyURI"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>