Luis Braille/1 DAM/Lenguaje de Marcas/2 Trimestre/Ejercicios XML-DTD/ej7-mayorista.dtd

<!ELEMENT modulo (nombremodulo, alumno+)>
    <!ELEMENT nombremodulo (#PCDATA)>
    <!ELEMENT alumno (nombre, notas)>
        <!ATTLIST alumno matricula ID #REQUIRED>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT notas (notateoria, notapractica)>
            <!ELEMENT notateoria (#PCDATA)>
            <!ELEMENT notapractica (#PCDATA)>